body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.calendar {
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2f2f2;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #ffffff, #002366);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.calendar-header {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

.calendar-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.calendar-weekdays {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.weekday {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    background-color: #ddd;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
}

.calendar-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    transition: background-color 0.3s;
    font-size: 9px; 
}

.calendar-date:hover {
    background-color: #e6e6e6;
}

.date {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    text-align: center;
}

.task-list li {
    margin-bottom: 2px;
}

.has-tasks {
    background-color: #e6f2ff;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    width: 700px;
    max-width: 100%;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.calendar-header button.nav-button {
    padding: 5px 8px; /* Adjust padding for a smaller size */
    font-size: 14px; /* Adjust font size for a smaller size */
    border: none;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: transparent;
    border-radius: 4px; /* Add border radius for a slightly rounded appearance */
    width: 200px;
}

.calendar-header button.nav-button:hover {
    background-color: #ccc;
    color: #000;
}

.empty-day{
    background-color: transparent;
    pointer-events: none;
}
